.idea/
*.bak
*.egg
*.egg-info/
*.pyc
.cache/
.coverage
.coverage.*
.tox/
amps-standalone
build/
coverage.xml
dist/
docs/_build
encrypt-credentials.sh
reports
reports/
setenv.sh
settings.py
test-quick
tests/settings.py
tests/test-reports-*/*
