.idea
*.bak
*.egg
*.egg-info/
*.pyc
.cache/
.coverage
.coverage.*
.eggs/
.tox/
amps-standalone*
coverage.xml
dist/
docs/_build
docs/build
encrypt-credentials.sh
pip-wheel-metadata/
reports
reports/
setenv.sh
settings.py
tests/settings.py
tests/test-reports-*/*
**/*.log
/.python-version
/CHANGELOG
/ChangeLog
/AUTHORS
/tests/build
/.pytest_cache
/.vscode
/node_modules
.mypy_cache/
