---
language: python
dist: xenial
services:
  - docker
# Build only commits on master and release tags for the "Build pushed branches" feature.
# This prevents building twice on PRs originating from our repo ("Build pushed pull requests)".
# See:
#   - https://github.com/travis-ci/travis-ci/issues/1147
#   - https://docs.travis-ci.com/user/pull-requests/#double-builds-on-pull-requests
# branches:
#   only:
#     - master
#     - /^\d+\.\d+(\.\d+)?(-\S*)?$/

cache:
  bundler: true
  pip: true
  directories:
    - $HOME/.cache/pre-commit
    - $HOME/.pre-commit
    - $HOME/.rvm
    - $HOME/Library/Caches/Homebrew
os:
  - linux
stages:
  - maintenance
  - test
  - deploy
before_install:
  - pip install --upgrade tox tox-venv
  - rm -rf .tox
# Launch a Jira instance in detached mode
  - docker run -dit -p 2990:2990 --name jira addono/jira-software-standalone
# Wait until Jira has booted
  - until $(curl -u $CI_JIRA_ADMIN:$CI_JIRA_ADMIN_PASSWORD --output /dev/null --silent --head --fail $CI_JIRA_URL/rest/api/2/permissions); do sleep 5; done
# Install this repository, as we will need it in the next step
  - pip install .
# Attempt to create the test user, as the empty JIRA instance isn't provisioned with one
  - >-
    (python -c "from jira import JIRA; JIRA('$CI_JIRA_URL', basic_auth=('$CI_JIRA_ADMIN', '$CI_JIRA_ADMIN_PASSWORD')).add_user('$CI_JIRA_USER', 'user@example.com', password='$CI_JIRA_USER_PASSWORD')" && echo "Created user '$CI_JIRA_USER'")
    || (echo "Failed creating user '$CI_JIRA_USER'" && docker logs --tail 500 jira)
notifications:
  email:
    - pycontribs@googlegroups.com
jobs:
  include:
    - stage: maintenance
      script:
        - python -m tox -e maintenance
      if: type = cron
    - script:
        - python -m tox
      env: TOXENV="lint,docs,pkg,py37"
      python: "3.7"
      after_success:
        - bash <(curl -s https://codecov.io/bash) -e py37
    - script: python -m tox
      python: "3.6"
      env: TOXENV=py36 PYTHON='3.6'
      after_success:
        - bash <(curl -s https://codecov.io/bash) -e TOXENV
    - script: python -m tox
      python: "3.5"
      env: TOXENV=py35
      after_success:
        - bash <(curl -s https://codecov.io/bash) -e TOXENV
    - stage: deploy
      script:
        - tox -e upload
      if: tag IS present AND type != cron
      deploy:
        - provider: releases
          api_key:
            secure: YJGigSNYOzMJqs23gIZLFxiVYRqHdV4WsTZmRVosishD2QIaDlTwJma7k6Y5eMPVNdLpqo7Tq6bt7xkJAz/dcr3UO35T/Y0tiRFFW3sd6IOB6ELwSwPhSeHoyUMvZtKyDTl+9tOfeZusFZuCc+mBLQcG+S2NzEaeyrQ6n5hTT/8FGBP91FOq9l5q2gYbmACZ9MisDIjZkTHNYih36ComnZ9QHC91jHKcSuHmOfWWX3GneDVFtuPhF2vjaLQrz8IFtWGW5Sfe35yDYlVQRH+NFxzSJ2zDuT5j8cRgwXjGout78umtMsqAn+zv1Ws/MUNKMTEtONsACndMpGCkuB6Nifl/KcGj5kD7V4PO/gE0ecr830qAwJxSVB7xk6rl797nMxGbr4w2DWQ/iDdHDTlPAEzbLBMLrMRgPxzKPgg5CNxxjT1cHoBNcFPp6gaf017w4XOVUgp/zxXeCg7iGiNJj7z2t8/m9eYVNNlNRPcodN6BjSjPqkYxC3ZMVCI5KsRXbHmR0zOWbPdcRjrY/IgbiTqX09sHotHw5GThP6YTMbienC4h93cdx6MEfX656W6XMOxpC+MjWtYuV8QlfMEJFlstOnA86MVLcmbl+4A6FHuvlQMdDtP9KsKdKIf/4juGhNEFir32P1rUe8J1abmjwXmDkHVbli0SDqaFtB5gyCc=
          file_glob: true
          file:
            - dist/*
            - ChangeLog
          skip_cleanup: true
          on:
            tags: true
            repo: pycontribs/jira
            branch: master
env:
  global:
    - PIP_DISABLE_PIP_VERSION_CHECK=1
    - CI_JIRA_URL=http://localhost:2990/jira
    - CI_JIRA_ADMIN=admin
    - CI_JIRA_ADMIN_PASSWORD=admin
    - CI_JIRA_USER=jira_user
    - CI_JIRA_USER_PASSWORD=jira
