---
language: python
cache:
  - pip
  - directories:
      - "node_modules"
      - $HOME/.cache
sudo: false
os:
  - linux
stages:
  - lint
  - docs
  - test
  - deploy
script:
before_install:
  - pip install -U pip
  - pip install -U setuptools
notifications:
  email:
    - pycontribs@googlegroups.com
    - sorin.sbarnea@gmail.com
jobs:
  include:
    - stage: lint
      script:
        - pip install --user --upgrade pre-commit && python -m pre_commit run
        - npm install && npm run spell
      language: nodejs
      node_js:
        - "8"
    - stage: docs
      script: pip install -q tox-travis && python -m tox
      python: 2.7
      env: TOXENV=docs
    - stage: test
      script: pip install -q tox-travis && python -m tox
      python: 2.7
      env: TOXENV=py27
      after_success:
        - bash <(curl -s https://codecov.io/bash) -e TOX_ENV
        - requires.io update-site -t ac3bbcca32ae03237a6aae2b02eb9411045489bb -r
    - stage: test
      script: pip install -q tox-travis && python -m tox
      python: 3.4
      env: TOXENV=py34
      after_success:
        - bash <(curl -s https://codecov.io/bash) -e TOX_ENV
    - stage: test
      script: pip install -q tox-travis && python -m tox
      python: 3.5
      env: TOXENV=py35
      after_success:
        - bash <(curl -s https://codecov.io/bash) -e TOX_ENV
    - stage: test
      script: pip install -q tox-travis && python -m tox
      python: 3.6
      env: TOXENV=py36 PYTHON='3.6' PYENV_VERSION='system'
      after_success:
        - bash <(curl -s https://codecov.io/bash) -e TOX_ENV
    - stage: deploy
      script:
        - export PACKAGE_NAME=$(python setup.py --name)
        - export PACKAGE_VERSION=$(python setup.py --version)
        - python setup.py sdist bdist_wheel
deploy:
  - provider: pypi
    user: pycontribs
    password:
      secure: "CmBFcxAT3IAWpnqe9eFmfHfbPBvayGMNLC+P+9KKUGaf+k7vnIYB11vNNCYUrm/jVOR12szWAcGoUQMkUQrWcrShEidsYENOdreJnasZp0I+2uMbMFw1v2Mn7Kyiilv1q/m1G05cH3ls863SBIxOARoN/Ce24vhVgg3BO+GpoP8="
    distributions: sdist bdist_wheel
    skip_cleanup: true
    on:
      tags: true
      branch: master
      repo: pycontribs/jira
  - provider: pypi
    server: https://test.pypi.org/legacy/
    user: ssbarnea
    password:
      secure: "FR8vDM2tWsT1ApQFfbbDO4B6tKZcRGzdRO2or2p8fY5uDEKbIa/SSJaIeaRluHbcxB6cedI1gJ5oCl2+kF0Km9LZqpT+mU4/StiWBBTHj/WmbBTXEROC28JuY6PzGJ+MYySFfLErRWqZZX6XxBzbNebDfdj6Gt8cQZXpvWr/1JA="
    distributions: sdist bdist_wheel
    skip_cleanup: true
    on:
      tags: false
      branch: master
      repo: pycontribs/jira
  - provider: releases
    api_key:
      secure: G19YtkGAX0aJ1oyd/7eRj1KYdsmAkjkfU2UISvsjh/68ec1+9qtPpN7BbkFYZYMjSx0BtS0SEEA7Vdl4F9DI9Zzqahbj7WzDLFe9/4aZKM/ztfKWR6CNAYaMazAKS5W7r9pPkBBDIIJ9zCqvV7FRzjewEpfTwFzwUdY+IpxEsAM=
    file:
      - dist/$PACKAGE_NAME-$PACKAGE_VERSION.tar.gz
      - dist/$PACKAGE_NAME-$PACKAGE_VERSION-py2.py3-none-any.whl
      - ChangeLog
    skip_cleanup: true
    on:
      tags: true
      repo: pycontribs/jira
      branch: master
env:
  global:
    - secure: fuXwQL+KHQ96XkAFl2uQc8eK8dAjrgkup46tck/UGjVpdv1PT/yHmBKrvpFjDa50ueGbtBwTdKAwhyAmYuiZCk2IYHzdvBylCZBBji2FSpaTM59CVwgkVT6tx3HHO83X0mEX6ih9TJvZD5XhX+YUjopnseRXRq3ey3JZJXWN4RM=
    - secure: "pGQGM5YmHvOgaKihOyzb3k6bdqLQnZQ2OXO9QrfXlXwtop3zvZQi80Q+01l230x2psDWlwvqWTknAjAt1w463fYXPwpoSvKVCsLSSbjrf2l56nrDqnoir+n0CBy288+eIdaGEfzcxDiuULeKjlg08zrqjcjLjW0bDbBrlTXsb5U="
