include LICENSE README.rst

# Include
include jira/py.typed

# Exclude what is in these folders
prune tests
prune .github

# Exclude these files
exclude package-lock.json
exclude test-requirements.*
recursive-exclude * *.py[co]
recursive-exclude * __pycache__
