[project]
	description = Python JIRA Library is the easiest way to automate JIRA.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sorin Sbarnea (ssbarnea)
[access "refs/for/refs/*"]
	read = group user/Sorin Sbarnea (ssbarnea)
	push = group user/Sorin Sbarnea (ssbarnea)
	label-Code-Review = -2..+2 group user/Sorin Sbarnea (ssbarnea)
	label-Verified = -1..+1 group user/Sorin Sbarnea (ssbarnea)
	rebase = group user/Sorin Sbarnea (ssbarnea)
	removeReviewer = group user/Sorin Sbarnea (ssbarnea)
	submit = group user/Sorin Sbarnea (ssbarnea)
[access "refs/heads/*"]
	read = group user/Sorin Sbarnea (ssbarnea)
	create = group user/Sorin Sbarnea (ssbarnea)
	push = +force group user/Sorin Sbarnea (ssbarnea)
	pushMerge = group user/Sorin Sbarnea (ssbarnea)
[access "refs/tags/*"]
	push = +force group user/Sorin Sbarnea (ssbarnea)
	pushTag = group user/Sorin Sbarnea (ssbarnea)
	pushSignedTag = group user/Sorin Sbarnea (ssbarnea)
