MarkupSafe>=0.23
autopep8>=1.2.1
coveralls>=1.1
docutils>=0.12
flake8-docstrings
flake8>=3.0.3
oauthlib
pep8>=1.7.0
pytest-cache
pytest-cov
pytest-instafail
pytest-pep8>=1.0.6
pytest-xdist>=1.14
pytest>=2.9.1
requests>=2.6.0
requests_oauthlib>=0.6.1
requires.io
setuptools
six>=1.9.0
sphinx>=1.4.1
sphinx_rtd_theme
tlslite>=0.4.4
tox>=2.3.1
wheel>=0.29.0
xmlrunner>=1.7.7
yanc>=0.3.3
