MarkupSafe
Sphinx>=1.3
autopep8>=1.2.1
coveralls
docutils
flake8
oauthlib
pep8>=1.6.2
pytest-cache
pytest-cov
pytest-instafail
pytest-pep8
pytest-xdist
pytest>=2.6.0
requests_oauthlib>=0.3.3
sphinx_rtd_theme
tox
wheel
xmlrunner>=1.7.5
yanc
