# this file is needed by readthedocs.org so don't move them in another place
coveralls>=1.1
docutils>=0.12
flaky==3.4.0
hacking>=0.13
MarkupSafe>=0.23
mock==2.0.0; python_version<'3.3'
oauthlib
pre-commit
py >= 1.4
pytest-cache
pytest-cov
pytest-instafail
pytest-xdist>=1.14
pytest>=2.9.1
PyYAML>=3.13
requires.io
tenacity
tox-pyenv
tox>=2.3.1
unittest2; python_version<'3.1'
wheel>=0.24.0
xmlrunner>=1.7.7
yanc>=0.3.3
