name: cloud

on:
  workflow_call:
    secrets:
      CLOUD_ADMIN:
        required: true
      CLOUD_ADMIN_TOKEN:
        required: true
      CLOUD_USER:
        required: true
      CLOUD_USER_TOKEN:
        required: true
  workflow_dispatch:

jobs:
  test:
    environment: cloud
    name: py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        # We only test a single version to prevent concurrent
        # running of tests influencing one another
        python-version: ["3.8"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install Dependencies
        run: |
          sudo apt-get update; sudo apt-get install gcc libkrb5-dev
          python -m pip install --upgrade pip
          python -m pip install --upgrade tox tox-gh-actions

      - name: Test with tox
        run: tox -e py38 -- -m allow_on_cloud
        env:
          CI_JIRA_TYPE: CLOUD
          CI_JIRA_CLOUD_ADMIN: ${{ secrets.CLOUD_ADMIN }}
          CI_JIRA_CLOUD_ADMIN_TOKEN: ${{ secrets.CLOUD_ADMIN_TOKEN }}
          CI_JIRA_CLOUD_USER: ${{ secrets.CLOUD_USER }}
          CI_JIRA_CLOUD_USER_TOKEN: ${{ secrets.CLOUD_USER_TOKEN }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.1.0
        with:
          file: ./coverage.xml
          name: ${{ runner.os }}-${{ matrix.python-version }}-Cloud
