name: release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: release
    env:
      FORCE_COLOR: 1
      PY_COLORS: 1
      TOXENV: pkg

    steps:
      - name: Switch to using Python 3.10 by default
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
            sudo apt remove -y docker-compose
            sudo apt-get update -y
            sudo apt-get --assume-yes --no-install-recommends install -y apt-transport-https curl libkrb5-dev

      - name: Install tox
        run: python3 -m pip install --user "tox>=4.0.0"

      - name: Check out src from Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # needed by setuptools-scm
          submodules: true

      - name: Build dists
        run: python3 -m tox

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: dist/
          retention-days: 7
          if-no-files-found: error

  pypi:
    needs: [build]
    name:
      Publish to PyPI registry
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment: release
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: package
          path: dist

      - name: Show tree
        run: tree

      - name: Publish to pypi.org
        if: >-  # "create" workflows run separately from "push" & "pull_request"
          github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
